<article class='post'>
   <div class='title'>
      <a href='/post/{{id}}' target='_blank'>{{title}}</a>
      by
      {{user.username}}
      on
      {{format_date created_at}}
   </div>
   <div>
      {{post_content}}
   </div>
</article>